<div class="body">
    <div class="options-container">
        <div>
            <p>Our Products</p>
            <ul>
                <li> Flight Booking</li>
                <li> Online Hotel Booking</li>
                <li> Domestic Airlines</li>
                <li> Partner Programs</li>
            </ul>
        </div>
        <div>
            <p>CORPORATE</p>
            <ul>
                <li> About Us</li>
                <li> Contact Us</li>
                <li> Careers</li>
                <li> Blog</li>
                <li> Register Your Property</li>
            </ul>
        </div>
        <div>
            <p>LEGAL</p>
            <ul>
                <li> FAQs</li>
                <li> Terms & Conditions</li>
                <li> Privacy</li>
            </ul>
        </div>
        <div>
            <p>MORE LINKS</p>
            <ul>
                <li> Top Airline Routes</li>
                <li> Hotels In India</li>
            </ul>
        </div>
        <div>
            <p>HOT DESTINATION</p>
            <ul>
                <li> Flights to Delhi</li>
                <li> Flights to Mumbai</li>
                <li> Flights to Bangalore</li>
                <li> Flights to Kolkata</li>
                <li> Flights to Hyderabad</li>
                <li> Flights to Chennai</li>
                <li> Flights to Pune</li>
                <li> Flights to Ahmedabad</li>
                <li> Flights to Patna</li>
            </ul>
        </div>
        <div>
            <p>HOT AIRLINES</p>
            <ul>
                <li> IndiGo</li>
                <li> GoAir</li>
                <li> SpiceJet</li>
                <li> Air Asia</li>
                <li> Vistara</li>
                <li> Air India</li>
            </ul>
        </div>
    </div>
    <div class="info-container">
        <div class="info">
            <h3>Booking flights with AirFly</h3>
            <p> AirFly introduces travellers to the best flight booking experience there is.
                Every day, thousands of businesspersons and tourists book domestic and international flight
                tickets through our desktop site, mobile site, Android and iOS apps.
                Unbelievably cheap flights and a seamless air ticket booking process make travels merrier than ever.
                With AirFly, you can book flight tickets with sought-after Indian airlines as well as
                renowned international air passenger carriers. 
                AirFly strives to make travel dreams come true for everyone. 
                If you have got an upcoming travel plan, access the latest offers from AirFly website or
                 mobile app and shift your travel game up a notch.
            </p>
        </div>
        <div>
            <h3>Score the Biggest Discounts on air tickets</h3>
            <p>Flight bookings can be an expensive affair, especially when you don’t have the right partner
                 to book your air tickets. AirFly offers the biggest discounts on flights, making it possible
                  to travel domestic and international without spending a fortune. Sign up on the AirFly website
                   or mobile app to unlock new user discounts and many other offers. Also, get notified about the latest
                    coupons and offers through the mobile app that helps you plan a trip anytime you wish. So, stop looking
                 anywhere else and seize the hand-picked offers on flight tickets to make your travel economical
            </p>
        </div>
        <div>
            <h3>Enjoy Hassle-free Booking Process</h3>
            <p>
                AirFly has continuously innovated the ways to cut down the efforts needed in air ticket booking. 
                From user-friendly interface and easy flight comparisons to quick payments and instant bookings, 
                one can have a stress-free experience while booking domestic or international flights. 
                Ease of booking flights with the best budget options and customer support make us a favourite among 
                travellers. Moreover, the latest booking updates available on your 
                mobile app provide you with a delightful on-the-go experience.
            </p>
        </div>
    </div>
    <div class="share-container">

    </div>
    <div class="footer">
        <p>Copyright © 2021-2022 AirFly Group. All rights reserved</p>
        <p> All product names, logos, brands, trademarks and registered trademarks are property of their 
            respective owners.
        </p>
    </div>
</div>