<header>
    <nav>
        <div class="nav-title">
            <h1>Air Fly</h1>
        </div>
        <div class="nav-options">
            <ul class="nav-links">
                <li class="nav-link"><a routerLink="/main">Main</a></li>
                <li class="nav-link"><a routerLink="/extra">Extra</a></li>
                <li class="nav-link"><a routerLink="/feature">Feature</a></li>
                <li class="nav-link"><a routerLink="/feedback">Feedback</a></li>
            </ul>
        </div>
    </nav>
</header>


<!-- <p>header works!</p>
<ul>
    <li><a routerLink="/main">Main</a></li>
    <li><a routerLink="/extra">Extra</a></li>
    <li><a routerLink="/feature">Feature</a></li>
    <li><a routerLink="/feedback">Feedback</a></li>
</ul> -->
