<div>
    <div class="comps comps2">
        <app-important-notice></app-important-notice>
    </div>
    <div class="comps">
        <div>
            <h1>Best Offers</h1>
            <div>
                <button id="ba" (click)="Scroll(0)"> < </button>
                <button id="bb" (click)="Scroll(1)"> > </button>
            </div>
        </div>
        <app-offers class="offer"></app-offers>
    </div>
    <div class="comps">
        <div>
            <h1>Travel Blogs</h1>
            <div>
                <button id="ba" (click)="Scroll2(0)"> < </button>
                <button id="bb" (click)="Scroll2(1)"> > </button>
            </div>
        </div>
        <app-travel-blog class="offer"></app-travel-blog>
    </div>
</div>